*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
:root{
--Strong-Cyan: hsl(171, 66%, 44%);
--Light-Blue: hsl(233, 100%, 69%);
--Dark-Grayish-Blue: hsl(210, 10%, 33%);
--Grayish-Blue: hsl(201, 11%, 66%);
}
img{
    max-width: 100%;
}
p{
    line-height: 1.6;
    color:var(--Grayish-Blue);
}

body{
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    font-family: "Bai Jamjuree", sans-serif;
}

.container{
    /* width: 100%; */
    /* max-width: 1440px; */
    text-align: center;
    margin: 40px;
    margin-bottom: 0;
}
.heading{
    font-weight: 600;
}

.heading{
    margin-top: 30px;
    margin-bottom: 10px;
    /* font-weight: 400; */
}
.text-heading{
    font-size: 14px;
}

.downloads{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
    justify-content: center;
}
.downloads a{
    color: white;
    padding: 1rem;
    height: auto;
    width: 18%;
    border-radius: 40px;
    font-weight: 400;
}
.downloads a:nth-child(1){
    background-color: var(--Strong-Cyan);
    box-shadow: 0px 3px 8px var(--Strong-Cyan);
}
.downloads a:nth-child(2){
    background-color: var(--Light-Blue);
    box-shadow: 0px 3px 8px var(--Light-Blue);
}
.downloads a:hover{
    cursor: pointer;
    opacity: 0.7;
}
section{
    margin-top: 60px;
}
/* section .text-heading{
    margin-bottom: 20px;
} */
.contain{
    display: flex;
    /* align-items: center; */
    margin-top: 20px;
}
.mid img{
    width: 90%;
}
.mid-text{
    margin-top: 20px;
    text-align: left;
}
.one h3,
.two h3,
.three h3{
    margin-bottom: 7px;
}
.one,
.two,
.three{
    margin-bottom: 30px;
}
.sm-mid{
    margin-top: 50px;
}
.sm-mid img{
    margin-top: 20px;
    width: 60%;
}
.semi-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 50px;
}
.semi-icons img{
    margin-bottom: 20px;
}
.icons{
    display: flex;
    margin: 20px;
    /* gap: 20px; */
    /* width: 20%;
    height: 7vh; */
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
}
.footer{
    margin-top: 50px;
}
.footer h2{
    margin-bottom: 15px;
}
.footer p{
    margin-bottom: 30px;
}
footer{
    /* margin-top: 50px; */
    margin: 50px;
    margin-bottom: 0;
    display: flex;
    /* display:grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    text-align: left;
    /* justify-content: center; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
    /* gap: 3rem; */
    padding: 1rem;
    background-color: rgb(223, 219, 219);
}
.logo{
    width: 40px;
    height: 5vh;
}
.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item a{
    color: var(--Dark-Grayish-Blue);
}
.item a:hover{
    cursor: pointer;
    color: var(--Strong-Cyan);
}
.medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    /* width: 30%; */
}
.medias:hover{
    cursor:pointer ;
}

@media (max-width:768px) {
    body{
        display: flex;
        align-items: center;
        min-height: 100vh;
        justify-content: center;
        font-size: 18px
    }

    .downloads{
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    .downloads a{
        width: 70%;
    }
    .contain{
        flex-direction: column;
        align-items: center;
    }
    .mid-text{
        text-align: center;
    }
    .semi-icons{
        flex-direction: column;
    }
    .icons{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 150px;
    }
    .icons img{
        width: 20%;
        height: 5vh;
    }
    footer,
    .item{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        font-size: 18px;
    }
    .logo{
        width: 10%;
        margin-top: 20px;
    }
    .medias img {
        width: 50px;
        /* padding: 100px; */
    }
}

@media (max-width:520px) {
   .icons img{
    width: 50%;
   }
   .icons{
    margin-top: 40px;
   }
   footer{
    width:100%;
    margin: 0;
    margin-top: 30px;
   }
   .logo{
    width: 30%;
    height: auto;
   }
   .social-icon img{
    width: 100%;
   }
}